<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tweet app</title>
    <link rel="stylesheet" href="node_modules/bulma/css/bulma.css">
    <style>
      .container {
        width: 500px;
      }

    </style>
  </head>
  <body>
  <div id="app">
    <div class="container">
      <h1 class="title">Tweet app</h1>

      <p style="margin-bottom: 20px">

        <a class="button is-info" v-on:click="openModal()">Add new tweet</a>
        <!--<a class="button is-info">Add new tweet</a>-->
      </p>


      <p v-if="tweets[0]==null">No tweets yet...</p>


      <div v-for="tweet in tweets">
        <div class="card" style="margin-bottom:20px">
          <div class="card-content">
            <div class="content">
              {{ tweet }}
            </div>
          </div>
          <footer class="card-footer">
            <a href="#" class="card-footer-item">Delete</a>
          </footer>
        </div>
      </div>


      <!-- Modal -->
      <div class="modal" v-bind:class="{'is-active': showModal}">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Add new tweet</p>
            <button class="delete" aria-label="close"  v-on:click="closeModal()"></button>
          </header>
          <section class="modal-card-body">

            <div class="field">
              <label class="label">Tweet</label>
              <div class="control">
                <textarea class="textarea" placeholder="" v-on:keyup="checkChars" v-model="tweet"/></textarea>
              </div>
            </div>

          </section>
          <footer class="modal-card-foot">
            <!--<p v-bind:class="{'has-text-danger': tweet.length > 140}">-->
            <p v-bind:class="{'has-text-danger': hasMaxChars}">
              {{ maxChars - tweet.length}}
            </p>
            <button class="button is-success" :disabled=hasMinChars||hasMaxChars v-on:click="addTweet()"  v-bind:class="{'is-loading': loading}">Save tweet</button>
          </footer>
        </div>
      </div>


    </div>
  </div>



    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
